body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.row{
    margin-bottom: 10px;
}
.post-entity{
    background-color: #faebcc;
    padding: 10px;
}

th {
    padding: 10px;
    border: 1px solid #3c3c3c;
}