<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>My Blog!</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="../static/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" />

    <script th:src="@{/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"
            src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" ></script>
</head>
<body ng-app="blogApp" class="ng-cloak" ng-controller="LoginController as loginCtrl">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">My Blog!</a>
        </div>
        <div class="navbar-form navbar-right">
            <a ng-show="!authenticated" href="login" class="btn btn-success" role="button">Sign in</a>
            <div ng-show="authenticated">
                <a href="create.html" class="btn btn-success">Create post</a>
                <a href="manage-posts.html" class="btn btn-success">Manage posts</a>
                <button class="btn btn-success" ng-click="loginCtrl.logout()">Log out</button>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Hello on my Blog!</h1>
        <p>Enjoy your time while reading articles.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div ng-show="loginCtrl.login_error">
            <h2>There was a problem logging in. Please try again later.</h2>
        </div>
        <div ng-show="loginCtrl.loginCredentials_error">
            <h2>Invalid credentials. Please try again.</h2>
        </div>
        <div ng-show="loginCtrl.logout_error">
            <h2>There was a problem logging out. Please try again.</h2>
        </div>
        <div ng-show="loginCtrl.logout_successful">
            <h2>Logged out successfully.</h2>
        </div>
        <div ng-show="loginCtrl.register_successful">
            <h2>Registered successfully.</h2>
        </div>
        <div ng-show="loginCtrl.register_error">
            <h2>There was a problem registering. Please try again.</h2>
        </div>
        <div  ng-show="!authenticated">
            <h2>Please log in or register.</h2>
        </div>
    </div>
    <div class="row" ng-show="!authenticated">
        <div class="col-md-4 col-md-offset-2">
			<h1>Login</h1><br/>
			<form method="post" ng-submit="loginCtrl.login()">
			<input type="text" name="username" class="form-control" placeholder="Login" ng-model="credentials.username"/>
			<input type="password" name="password" class="form-control" placeholder="Password" ng-model="credentials.password"/>
			<button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
			</form>
        </div>
        <div class="col-md-4">
			<h1>Register</h1><br/>
            <form method="post" ng-submit="loginCtrl.register()">
                <input type="text" name="username" class="form-control" placeholder="Username" ng-model="register_credentials.username"/>
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="register_credentials.password"/>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
            </form>
        </div>
    </div>
    <div class="row" ng-show="authenticated">
        <div class="col-md-6 col-md-offset-2">
            <h2>You're already logged in!</h2><br/>
            <button class="btn btn-success" ng-click="loginCtrl.logout()">Log out</button>
        </div>
    </div>

    <hr/>

    <footer>
        <p>&copy; Blog 2016</p>
    </footer>
</div> <!-- /container -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}" src="../static/js/vendor/bootstrap.min.js" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script th:src="@{/js/main.js}" src="../static/js/main.js" ></script>
<script th:src="@{/js/module/app.js}" src="../static/js/module/app.js" ></script>
<script th:src="@{/js/controller/login_controller.js}" src="../static/js/controller/login_controller.js" ></script>
</body>
</html>
